{% extends 'base.html' %}
{% block content %}
    <h3 class="para">{{ page_title }}</h3>
    <p>
        Thorin and Company were a group of thirteen Dwarves, the Wizard Gandalf, and the Hobbit Bilbo Baggins, led by
        Thorin II Oakenshield in TA 2941. Their purpose was to regain the lost
        Dwarven kingdom of the Lonely Mountain from the dragon Smaug.

        The journey began before the Lord Of The Rings story and shows how Middle Earth
        gained the ring from the clutches of Gollum
    </p>
    <br>
    <p class="para">
        The story of Thorin and his army is told in three movies:
    </p>
    <div>
        <div class="row">
            <div class="col-4 img"><img src="../static/img/h1.jpeg" alt="The Hobbit: An Unexpected Journey"></div>
            <div class="col-4 img"><img src="../static/img/h2.jpg" alt="The Hobbit: The Desolation of Smaug"></div>
            <div class="col-4 img img1"><img src="../static/img/h3.jpg" alt="The Hobbit: The Battle of the Five Armies"></div>
        </div>
        <div class="row title">
            <div class="col-4">The Hobbit: An Unexpected Journey</div>
            <div class="col-4">The Hobbit: The Desolation of Smaug</div>
            <div class="col-4">The Hobbit: The Battle of the Five Armies</div>
        </div>
    </div>
    </section>
    <h2 class="company">The Company</h2>
    <div>
        <h6 class="para">
            The company consists of these members:
        </h6>
        <ul>
            <div class="inline">
                <div><a href="https://lotr.fandom.com/wiki/Thorin_II_Oakenshield">Thorin_II_Oakenshield</a></div>
                <div><a href="https://lotr.fandom.com/wiki/F%C3%ADli_and_K%C3%ADli">Kili and Fili</a></div>
                <div><a href="https://lotr.fandom.com/wiki/%C3%93in">Óin</a></div>
                <div><a href="https://lotr.fandom.com/wiki/Gl%C3%B3in">Glóin</a></div>
                <div><a href="https://lotr.fandom.com/wiki/Balin">Balin</a></div>
                <div><a href="https://lotr.fandom.com/wiki/Dwalin">Dwalin</a></div>
                <div><a href="https://lotr.fandom.com/wiki/Ori">Ori</a></div>
                <div><a href="https://lotr.fandom.com/wiki/Dori">Dori</a></div>
                <div><a href="https://lotr.fandom.com/wiki/Nori">Nori</a></div>
                <div><a href="https://lotr.fandom.com/wiki/Bifuri">Bifur</a></div>
                <div><a href="https://lotr.fandom.com/wiki/Bofur">Bofur</a></div>
                <div><a href="https://lotr.fandom.com/wiki/Bombur">Bombur</a></div>
                <div><a href="https://lotr.fandom.com/wiki/Bilbo_Baggins">Bilbo Baggins</a></div>
                <div><a href="https://lotr.fandom.com/wiki/Gandalf">Gandalf</a></div>
            </div>
        </ul> 

    </div>

{% endblock %}