{% extends 'base.html' %}
{% block content %}
    <h3 class="para">{{ page_title }}</h3>
    <p>
        Thorin and Company were a group of thirteen Dwarves, the Wizard Gandalf, and the Hobbit Bilbo Baggins, led by
        Thorin II Oakenshield in TA 2941. Their purpose was to regain the lost
        Dwarven kingdom of the Lonely Mountain from the dragon Smaug.

        The journey began before the Lord Of The Rings story and shows how Middle Earth
        gained the ring from the clutches of Gollum
    </p>
    <br>
    <p class="para">
        The story of Thorin and his army is told in three movies:
    </p>
    <div>
        <div class="row">
            <div class="col-4 img300"><img src="../static/img/h1.jpeg" alt="The Hobbit: An Unexpected Journey"></div>
            <div class="col-4 img300"><img src="../static/img/h2.jpg" alt="The Hobbit: The Desolation of Smaug"></div>
            <div class="col-4 img300"><img src="../static/img/h3.jpg" alt="The Hobbit: The Battle of the Five Armies"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-4">The Hobbit: An Unexpected Journey</div>
            <div class="col-4">The Hobbit: The Desolation of Smaug</div>
            <div class="col-4">The Hobbit: The Battle of the Five Armies</div>
        </div>
    </div>
    </section>
    <h2 class="company">The Company</h2>
    <div class="row-featurette">
        <h6 class="para">
            The company consists of these members:
        </h6>
        
            <h2>{{ page_title }}</h2>
            <p>
                The formation of the group grew out of a meeting Gandalf had with Thorin in Bree which kindled Thorin's interest in
                recapturing his long lost family inheritance. (Thorin's grandfather had been the king of the Lonely Mountain when
                Smaug came and took it.) Remembering that he had once known an adventurous Hobbit on his travels in the Shire,
                Gandalf decided to add Bilbo to their company because he knew that stealth and cunning were preferable to force.
                Gandalf also believed that someone like Bilbo could keep the sometimes prideful and stubborn Dwarves from rash
                action. The superstitious Dwarves also considered thirteen to be an unlucky number, and as Gandalf had planned to
                leave on other business, welcomed a fourteenth to fill into their party.
            </p>
        
            {% for member in company %}

        <div class="row featurette">

            {% if loop.index % 2 != 0 %}

                <div class="col-md-7">
                    <h3>{{ loop.index }}. {{ member.name }}</h3>
                    <p>{{ member.description }}</p>
                </div>
                <div class="col-md-5">
                    <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
                </div>
            
            {% else %}
                <div class="col-md-5 back">
                    <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
                </div>
                <div class="col-md-7 back">
                    <h3>{{ loop.index }}. {{ member.name }}</h3>
                    <p>{{ member.description }}</p>
                </div>

            {% endif %}

        </div>

        {% if loop.index != loop.length %}

            <hr class="featurette-divider">

        {% endif %}

    {% endfor %}
        
{% endblock %}