{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbo">
  <h1>Welcome to Thorin's Army and the adventures they share</h1>
  <p>
    Here we see all the details and articles regarding the Hobbit Trilogy
    and Thorin. Thorin was a dwarv who stood taller than all of us!
  </p>
</div>

<div class="row smoke">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
        <a href="https://www.rottentomatoes.com/m/the_hobbit_an_unexpected_journey" target="_blank">
          <h2 class="post-title heading1">
            Reviews of The Hobbit: An Unexpected Journey
          </h2>
          <h3 class="post-subtitle">
            Check out the rotton tomato score for this movie!
          </h3>
        </a>
        <p class="post-meta">Posted by
          <a href="https://www.rottentomatoes.com/" target="_blank">Rotton Tomato</a>
        </p>
      </div>
      <hr>
      <div class="post-preview">
        <a href="https://en.wikipedia.org/wiki/The_Hobbit:_The_Desolation_of_Smaug" target="_blank">
          <h2 class="post-title heading1">
            The Hobbit: The Desolation of Smaug
          </h2>
          <h3 class="post-subtitle">
            Wikipedia knows all there is to know about Smaug
          </h3>
        </a>
        <p class="post-meta">Posted by
          <a href="https://en.wikipedia.org/wiki/Main_Page" target="_blank">wikipedia</a>
          </p>
      </div>
      <hr>
      <div class="post-preview">
        <a href="https://www.boxofficemojo.com/release/rl2354677249/l" target="_blank">
          <h2 class="post-title heading1">
            Box Office Success or Bust?
          </h2>
          <h3 class="post-subtitle">
            See how much money the final Hobbit movie made at the box office
          </h3>
        </a>
        <p class="post-meta">Posted by
          <a href="https://www.boxofficemojo.com/?ref_=bo_nb_rl_mojologo" target="_blank">boxofficemojo</a>
        </p>
      </div>
      <hr>
      <div class="post-preview">
        <a href="https://lotr.fandom.com/wiki/Thorin_II_Oakenshield" target="_blank">
          <h2 class="post-title heading1">
            Thorin_II_Oakenshield - The King
          </h2>
          <h3 class="post-subtitle">
            Find out all the information about Thorin!
          </h3>
        </a>
        <p class="post-meta">Posted by
          <a href="https://lotr.fandom.com/wiki/Main_Page" target="_blank">lotf.fandom</a>
        </p>
      </div>
      <hr>
    </div>
  </div>
{% endblock %}